<h1>Your current friends in facebook: </h1>

<table class="table table-bordered">
  <tr class='error'>
    <th>Friend</th>
  </tr>

<% @friends.keys.each do |user| %>
  <tr class='info'>
    <td><%= @friends[user] %></td>
  </tr>
<% end %>
</table>