<h1>Your current friends in facebook: </h1>

<table class="table table-condensed">
  <tr>
    <th>Friend</th>
    <th>Settings</th>
  </tr>

  <% i = 0;
   @friends.keys.sort.each do |user| %>
  <% i = i+1 
     if i%2 == 0 
       tmp = "info"
     else
       tmp = "warning"
     end %>
  <tr class='<%= tmp %>'>
    <td><%= user %></td>
    <td><label class="checkbox inline">
          <input type="checkbox" id="inlineCheckbox1" value="1"> Borrow
        </label>
        <label class="checkbox inline">
          <input type="checkbox" id="inlineCheckbox2" value="2"> Share
        </label>
        <label class="checkbox inline">
          <input type="checkbox" id="inlineCheckbox3" value="3"> Buy
        </label>
    </td>
  </tr>
<% end %>
</table>