<p id="notice"><%= notice %></p>

<p>
  <b>Wanted action:</b>
  <%= @wanted_action.wanted_action %>
</p>


<%= link_to 'Edit', edit_wanted_action_path(@wanted_action) %> |
<%= link_to 'Back', wanted_actions_path %>
